<div class="col-md-12 animated fadeInDown">
  <div class="row">
    <div class="input-group" id="adv-search">
      <input type="text" class="form-control" ng-model="key"  placeholder="Search for courses" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
            <button  class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="filter">Filter by</label>
                  <select class="form-control" ng-model="defaultSelected">
                  <option value="">--- Select an option ---</option>
                    <option ng-repeat="cate in categories" value="{{cate.id}}" ng-selected= "{{ cate.id == defaultSelected }}" value="{{cate.id}}">{{cate.cate_name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contain">Keywords</label>
                  <input class="form-control" type="text" ng-model="key"/>
                </div>
              </form>
            </div>
          </div>
          <a ui-sref="search({s: key, id: defaultSelected})" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <section class="col-xs-12 col-sm-6 col-md-12 show-items">
      <!-- Start Angularjs show courses -->
      <article class="search-result row" ng-repeat="course in courses">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <a ui-sref="show({ind: course.id})"  title="{{course.name}}"  class="thumbnail"><img src="https://cdn.pixabay.com/photo/2013/10/01/16/55/magnifying-glass-189254__180.png" alt="Image Not Found" /></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search">
            <li><i class="glyphicon glyphicon-calendar"></i> <span>{{course.date_of_released}}</span></li>
            <li><i class="glyphicon glyphicon-time"></i> <span>{{course.duration}}</span></li>
            <li><i class="glyphicon glyphicon-eye-open"></i> <span>{{course.view}}</span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <h3><a ui-sref="show({ind: course.id, name: course.name})" title="{{course.name}}">{{course.name}}</a></h3>
          <p>{{course.description}}</p>
          <span class="plus"><a ui-sref="show({ind: course.id})"><i class="glyphicon glyphicon-plus"></i></a></span>
        </div>
        <span class="clearfix borda"></span>
      </article>
      <!-- End Angularjs show courses -->
      <ul class="pager" align="center">
        <li><a href="#" ng-click="prevousPage()">Previous</a></li>
        <li><a href="#" ng-click="nextPage()">Next</a></li>
      </ul>
    </section>
  </div>
</div>
