<div class="col-md-12 animated fadeInDown">
  <div class="row">
    <div class="input-group" id="adv-search">
      <input type="text" class="form-control" ng-model="key"  placeholder="Search for courses" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
            <button  class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="filter">Filter by</label>
                  <select class="form-control" ng-model="defaultSelected">
                  <option value="">--- Select an option ---</option>
                    <option ng-repeat="cate in categories" value="{{cate.id}}" ng-selected= "{{ cate.id == defaultSelected }}" value="{{cate.id}}">{{cate.cate_name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contain">Keywords</label>
                  <input class="form-control" type="text" ng-model="key"/>
                </div>
              </form>
            </div>
          </div>
          <a ui-sref="search({s: key, id: defaultSelected})" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <section class="col-xs-12 col-sm-6 col-md-12 show-items">
      <!-- Start Angularjs show courses -->
      <article class="search-result row" ng-repeat="course in courses">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <a ui-sref="show({ind: course.id})"  title="{{course.name}}"  class="thumbnail"><img src="http://loremflickr.com/200/120?random={{ $index + 1 }}" alt="Image Not Found" /></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search">
            <li><i class="glyphicon glyphicon-calendar"></i> <span>{{course.date_of_released}}12/9/2016</span></li>
            <li><i class="glyphicon glyphicon-time"></i> <span>{{course.duration}}3h30min</span></li>
            <li><i class="glyphicon glyphicon-eye-open"></i> <span>{{course.view}}101</span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <h3><a ui-sref="show({ind: course.id, name: course.name})" title="{{course.name}}">{{course.name}}</a></h3>
          <p>{{course.description}}Ready to learn how to code, debug, and program? Get started with our expert-taught tutorials explaining programming languages like C, C#, Python, Visual Basic, Java, and more.</p>
          <span class="plus"><a ui-sref="show({ind: course.id})"><i class="glyphicon glyphicon-arrow-right"></i></a></span>
        </div>
        <span class="clearfix borda"></span>
      </article>
      <!-- End Angularjs show courses -->
      <ul class="pager" align="center">
        <li><a href="#" ng-click="prevousPage()">Previous</a></li>
        <li><a href="#" ng-click="nextPage()">Next</a></li>
      </ul>
      <!-- pager -->
      <ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
          <a ng-click="vm.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
          <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
          <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>                
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
          <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
          <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
        </li>
      </ul>
    </section>
  </div>
</div>
